/* --------------- reset.css --------------- */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; /* обнуляем отступы и убираем бордюры */
  vertical-align: baseline;
  background: transparent;
  font-size: 100%; /* размер шрифта всем одинаковый */
}
a {
  /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
  margin: 0;
  padding: 0;
  /* font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none; */
}
table {
  /* устраняем отступы между ячейками таблицы */
  border-collapse: collapse;
  border-spacing: 0;
}
td,
td img {
  vertical-align: top; /* возвращаем привычное вертикальное выравнивание */
}
input,
select,
button,
textarea {
  margin: 0; /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
  font-size: 100%; /* делаем размер шрифтов везде одинаковым */
  outline: none;
}
input[type="text"],
input[type="password"],
textarea {
  padding: 0; /* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] {
  /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
  vertical-align: bottom;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
nav ul {
  list-style: none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

body {
  width: 1920px;
  color: #000;
  text-align: left;
  font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
  /* min-height:100%; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.clr {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
/* --------------- /базовые настройки ---------*/
html {
  width: 1920px;
}
.page1 {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 100%;
  background-image: url(images/BG.png);
}
.page1 nav.PC {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  margin-top: 30px;
  margin-left: 300px;
}
.page1 nav.phone {
  display: none;
}
.page1 nav img {
  width: 207px;
  height: 40px;
  margin-top: 5px;
}
.page1 nav ul {
  display: flex;
  width: 790px;
  height: 21px;
  opacity: 80%;
  margin-top: 14.5px;
  justify-content: space-between;
}
.page1 nav ul li {
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
}
.page1 nav ul li a {
  text-decoration: none;
  color: #434a54;
}
.page1 nav ul li a:hover {
  color: #4568f9;
}
.page1 .Get-started-btn {
  width: 104px;
  height: 24px;
  padding: 13.5px 25.5px;
  border: 1px solid #4568f9;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: #4568f9;
}
.page1 .Get-started-btn:hover {
  background: #4568f9;
  color: aliceblue;
  transition: all 0.3s;
}
.page1 .main-content {
  display: flex;
  margin-top: 84px;
  margin-left: 36px;
}
.page1 .left-part {
  background-image: url(images/ellipse_el.png);
  width: 1086px;
  height: 695px;
}
.page1 .text {
  width: 645px;
  height: 533px;
  padding-left: 264px;
  padding-right: 177px;
  padding-top: 91px;
  padding-bottom: 71px;
}
.page1 .text p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26.04px;
  text-align: left;
  color: #ff9900;
}
.page1 .text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  margin-top: 10px;
  color: #434a54;
}
.page1 .text img {
  position: absolute;
  top: 345px;
  left: 555px;
}
.page1 .text h1 span {
  font-weight: 700;
  line-height: 60px;
}
.page1 .text h1 span.blue {
  font-weight: 700;
  line-height: 60px;
  font-size: 50px;
  color: #4568f9;
}
.page1 .text ul {
  margin-top: 15px;
  margin-bottom: 40px;
}
.page1 .text ul li {
  list-style: none;
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #434a54;
}
.Order {
  display: inline-block;
  border: 1px solid #4568f9;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #4568f9;
  padding: 25px 55px;
}
.Order:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.page1 .right-part {
  width: 675px;
  height: 617px;
}
.page1 .right-part img {
  width: 100%;
}

.videopage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1320px;
  height: 799px;
  margin-top: 130px;
  margin-left: 300px;
}
.videopage header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 110px;
}
.videopage header h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  width: 645px;
  height: 100%;
  color: #434a54;
}
.videopage header h1 span.DNA {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #ff9900;
}
.videopage header h1 span.and {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #091e3f;
}
.videopage header p {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #434a54;
  width: 629px;
  height: 96px;
  margin-top: 7px;
}
.videocontainer {
  display: flex;
  width: 1320px;
  height: 639px;
  align-items: center;
  justify-content: center;
}
.videocontainer .shadow {
  position: absolute;
}
.videocontainer a {
  position: absolute;
  width: 120px;
  height: 120px;
}
.videocontainer a:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.page3 .back {
  position: absolute;
  width: 518px;
  height: 690.35px;
  top: 1602px;
  left: 1402px;
  z-index: -1;
}
.page3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1322px;
  height: 484px;
  margin-left: 300px;
  margin-top: 130px;
}
.page3 header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
}
.blue {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #4568f9;
}
.page3 header .text h1 {
  width: 887px;
  height: 110px;
  margin-top: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  color: #434a54;
}
.page3 header .text h1 span.DNA {
  font-weight: 700;
  line-height: 55px;
  color: #091e3f;
}
span.orange {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #ff9900;
}
.page3 header .text h3 {
  width: 629px;
  height: 32px;
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #434a54;
  margin-top: 20px;
}
.page3 header .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.page3 header a {
  width: 196px;
  height: 23px;
  padding: 17.5px 11px 17.5px 36px;
  border: 1px solid #434a54;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #434a54;
  border-radius: 10px;
}
.page3 header a:hover {
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
  transition: all 0.2s;
}
.page3 footer {
  width: 100%;
  height: 234px;
}
.page3 footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.page3 footer ul li a img:hover {
  border-radius: 10px;
  transition: all 0.2s;
}
.page3 footer ul li a img.f:hover {
  box-shadow: 0px 0px 15px #9e1cb5;
}
.page3 footer ul li a img.s:hover {
  box-shadow: 0px 0px 15px #4568f9;
}
.page3 footer ul li a img.t:hover {
  box-shadow: 0px 0px 15px #ff9900;
}
.page3 footer ul li a img.fo:hover {
  box-shadow: 0px 0px 15px #39c9d4;
}
.page3 footer ul li a img.fif:hover {
  box-shadow: 0px 0px 15px #9dcc21;
}

.page4 {
  display: flex;
  justify-content: space-between;
  width: 1546px;
  height: 525px;
  margin-top: 139px;
  margin-left: 300px;
}
.page4 .text {
  width: 540px;
  height: 429px;
  margin-top: 48px;
}
.page4 .text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  color: #434a54;
  margin-top: 8px;
}
.page4 .text h1 span.blue {
  font-size: 45px;
  line-height: 55px;
}
.black {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  color: #091e3f;
}
.page4 .text h2 {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #434a54;
  margin-top: 20px;
}
.page4 .Order {
  margin-top: 35px;
}

.page5 {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 780px;
  margin-top: 130px;
  background-image: url(images/BG2.png);
}
.page5 .top {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.page5 p.main-text {
  width: 977px;
  height: 165px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
}
.page5 p.main-text span {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  color: #ff9900;
}
.page5 .main-content {
  display: flex;
  margin-top: 50px;
}
.page5 .main-content .left {
  background-image: url(images/Rectangle1.png);
  width: 640px;
  height: 305px;
  display: flex;
  margin-left: 300px;
}
.page5 .left .text {
  margin-left: 30px;
  margin-top: 40px;
  opacity: 80%;
  color: #ffffff;
}
.page5 .main-content .left .text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.25px;
  text-align: left;
  margin-bottom: 25px;
}
.page5 .main-content .text .spisok img {
  width: 16px;
  height: 15px;
}
.page5 .main-content .text .spisok div {
  display: flex;
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 570px;
  height: 60px;
}
.page5 .main-content .text .spisok .first {
  height: 30px;
  margin-bottom: 15px;
}
.page5 .main-content .text .spisok .third {
  width: 584px;
  margin-top: 10px;
}
.page5 .main-content .text .spisok div img {
  margin-top: 5px;
  margin-right: 10px;
}
.page5 .main-content .right {
  background-image: url(images/Rectangle2.png);
  width: 640px;
  height: 305px;
  display: flex;
  margin-left: 40px;
}
.page5 .main-content .right .logo-text {
  display: flex;
  margin-bottom: 25px;
}
.minilogo {
  width: 26.47px;
  height: 24px;
  margin-right: 15px;
  margin-top: 3px;
}
.page5 .main-content .right .text {
  margin-left: 30px;
  margin-top: 40px;
  width: 570px;
  height: 231px;
  color: #ffffff;
}
.page5 .main-content .right .text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.25px;
  text-align: left;
  width: 250px;
  height: 31px;
}
.page5 .main-content .right .text h1 span {
  color: #add14d;
}

.page6 {
  display: flex;
  justify-content: space-between;
  height: 510.8px;
  background-image: url(images/BG3.png);
}
.food {
  width: 401.11px;
  height: 400px;
  margin-left: 381px;
  margin-top: 55px;
}
.page6 .text {
  width: 600px;
  height: 256px;
  margin-right: 380px;
  margin-top: 130px;
}
.page6 .text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  color: #434a54;
  margin-bottom: 30px;
  width: 550px;
  height: 110px;
}
.page6 .text h1 .blue {
  font-size: 45px;
  line-height: 55px;
}
.page6 .text p.orange {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ff9900;
  width: 592px;
  height: 32px;
}
.page6 .text p {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #5c6776;
  margin-top: 20px;
}

.page7 {
  display: flex;
  justify-content: space-between;
  width: 1497px;
  height: 598.48px;
  margin-top: 120px;
  margin-left: 300px;
}
.page7 .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 623px;
  height: 510px;
  margin-top: 44px;
}
.page7 .text h1 {
  width: 600px;
  height: 220px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  color: #434a54;
}
.page7 .text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 150px;
  font-family: "Nunito sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 50px;
  color: #5c6776;
}
.page7 .text a.Order {
  width: 94px;
  height: 23px;
}

.page8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 160px;
  width: 1920px;
  height: 600px;
}
.page8 .text {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  height: 60px;
  margin-left: 300px;
  margin-bottom: 50px;
}
.page8 .text header {
  display: flex;
  justify-content: space-between;
  width: 661px;
}
.page8 .text header p {
  margin-top: 15px;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  width: 400px;
  height: 30px;
  color: #4568f9;
}
.page8 .text .btn {
  display: flex;
  align-items: center;
}
.page8 .text a.v {
  width: 153px;
  height: 23px;
  padding: 17.5px 18px 17.5px 18px;
  border: 1px solid #434a54;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #434a54;
  border-radius: 10px;
  text-align: center;
}
.page8 .text a.v:hover {
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
  transition: all 0.2s;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.page8 .slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  padding-bottom: 70px;
}
.page8 .slider:hover .slides {
  animation-play-state: paused;
}
.page8 .slider:before,
.page8 .slider:after {
  position: absolute;
  top: 0;
  width: 350px;
  height: 100%;
  content: "";
  z-index: 2;
}
.page8 .slider:before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  left: 0;
}
.page8 .slider:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: 0;
}
.page8 .slides {
  display: flex;
  animation: 35s slide infinite linear;
}
.page8 .slides .card {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  height: 400px;
}
.page8 .slides .card .Review .stars {
  width: 160px;
  height: 24px;
}
.page8 .slides .card .Review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 340px;
  margin-left: 30px;
  margin-top: 30px;
}
.page8 .slides .card .Review h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #091e3f;
}
.page8 .slides .card .Review p {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #5c6776;
}
.page8 .slides .card .Review h2 {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #091e3f;
}
.page8 .slides img:not(.stars) {
  position: absolute;
  width: 420px;
  height: 400px;
  z-index: -1;
  box-shadow: 0px 25px 40px 0px #434a5433;
  border-radius: 10px;
}

.page9 {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  height: 482px;
  margin-top: 130px;
  margin-left: 300px;
  background-image: url(images/BG4.png);
}
.page9 .text {
  width: 500px;
  height: 256px;
  color: #fff;
  margin-left: 100px;
  margin-top: 100px;
}
.page9 .text p {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
.page9 .text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  width: 500px;
  height: 112px;
}
.page9 .text h1 span.W {
  font-weight: 700;
}

.page10 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1322px;
  height: 599px;
  margin-left: 300px;
  margin-top: 130px;
}
.page10 .text {
  width: 100%;
  height: 139px;
  display: flex;
  justify-content: space-between;
}
.page10 .text header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page10 .text .btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.page10 .text h1 {
  width: 412px;
  height: 55px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  color: #434a54;
}
.page10 .text p {
  width: 583px;
  height: 64px;
  color: #5c6776;
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.page10 .text a {
  padding: 17.5px 18px 17.5px 18px;
  border: 1px solid #434a54;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  color: #434a54;
  border-radius: 10px;
  text-align: center;
  width: 144px;
  height: 23px;
}
.page10 .text a:hover {
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
  transition: all 0.2s;
}
.page10 .videos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 410px;
}
.page10 .videos div{
  position: relative;
}
.page10 .videos .rec {
  position: absolute;
  z-index: -1;
  box-shadow: 0px 12px 80px 0px #777e901f;
}
.page10 .videos .rec2 {
  position: absolute;
  z-index: -1;
  box-shadow: 0px 25px 40px 0px #434a5433;
}
.page10 .videos .shadow {
  position: absolute;
}
.page10 .videos .play {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 224px;
  left: 341px;
}
.page10 .videos a img:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.page10 .videos h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  width: 360px;
  height: 68px;
  margin-left: 30px;
  margin-top: 20px;
}

.page11 {
  width: 1920px;
  height: 628px;
  margin-top: 130px;
}
.page11 header {
  width: 100%;
  height: 520px;
  background-image: url(images/BG5-1.png);
}
.page11 header .main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(images/BG5.png);
  width: 832px;
  height: 260px;
  padding: 130px 544px;
}
.page11 header .main-content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 832px;
  height: 140px;
  color: #fff;
}
.page11 header .main-content .text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
}
.page11 header .main-content .text p {
  font-family: "Nunito sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  width: 582px;
  height: 64px;
  margin-left: 125px;
}
.page11 header .main-content .email {
  background-image: url(images/Rectangle\ 5.png);
  width: 754px;
  height: 80px;
  margin-left: 39px;
}
.page11 header .main-content .email form {
  width: 100%;
  height: 100%;
}
.page11 header .main-content .email .input-text {
  border: none;
  color: #8c979d;
  background: #f5f5f5;
  margin-top: 31px;
  margin-left: 40px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
}
.page11 header .main-content .email .input-btn {
  cursor: pointer;
  width: 175px;
  height: 60px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: center;
  color: #ffffff;
  background: #ff9900;
  border: none;
  border-radius: 10px;
  padding-top: 5px;
  margin-left: 350px;
}

.page11 footer {
  display: flex;
  background-image: url(images/footer.png);
  width: 100%;
  height: 108px;
}
.page11 footer .text {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  height: 24px;
  color: #f5f5f5;
  margin-top: 42px;
  margin-left: 300px;
  opacity: 80%;
}
.page11 footer .text h1 {
  width: 140px;
  height: 23px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.page11 footer .text p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.page11 footer .text .right {
  display: flex;
  justify-content: space-between;
  width: 306px;
  height: 23px;
}

@media (max-width: 385px) {
  html{
    width: 385px;
  }
  body{
    width: 385px;
  }
  .page{
    margin-left: 0;
    padding: 0 5px;
  }
  .page1{
    height: auto;
  }
  .page1 nav.PC {
    display: none;
  }
  .page1 nav.phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .page1 nav.phone .top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .page1 .Get-started-btn {
    padding: 10.5px 31.5px;
    width: 100px;
    font-size: 17px;
    height: auto;
}
  .page1 nav.phone ul {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    height: 60px;
  }
  .page1 nav.phone ul .panel{
    display: flex;
    justify-content: space-between;
  }
  .page1 nav.phone ul li {
    font-size: 20px;
  }
  .page1 .main-content {
    flex-direction: column;
    margin: 0;
  }
  .page1 .text {
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .page1 .left-part {
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-image: none;
  }
  .page1 .text img {
    display: none;
  }
  .page1 .text p {
    font-size: 20px;
  }
  .page1 .text h1{
    font-size: 31px;
    line-height: 0;
  }
  .page1 .text h1 span{
    line-height: normal;
  }
  .page1 .text h1 span.blue{
    line-height: normal;
  }
  .page1 .text ul {
    margin-bottom: 25px;
  }
  .page1 .text ul li {
    font-size: 19px;
  }
  .page1 .right-part {
    margin-top: 30px;
    width: auto;
    height: auto;
  }
  .videopage {
    width: 385px;
    height: auto;
    margin-top: 30px;
  }
  .videopage header {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .videopage header h1 {
    font-size: 40px;
    width: auto;
    height: auto;
    text-align: center;
  }
  .videopage header p {
    font-size: 20px;
    text-align: center;
    width: auto;
    height: auto;
    line-height: normal;
  }
  .videopage .videocontainer{
    margin-top: 30px;
    width: 100%;
    height: 186px;
  }
  .videopage .videocontainer .video{
    width: 100%;
    height: 100%;
  }
  .videopage .videocontainer .shadow{
    width: 100%;
  }
  .videopage .videocontainer a{
    width: 50px;
    height: 50px;
  }
  .videopage .videocontainer .playvideo{
    width: 50px;
    height: 50px;
  }
  .page3 {
    width: 385px;
    height: auto;
    margin-left: 0;
    margin-top: 30px;
  }
  .page3 .back {
    display: none;
  }
  .page3 header{
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .page3 header .text h1{
    width: 100%;
    height: auto;
    font-size: 30px;
    line-height: normal;
  }
  .page3 header .text h1 span.DNA{
    line-height: normal;
  }
  .page3 header .text .orange{
    font-size: 30px;
    line-height: normal;
  }
  .page3 header .text h3{
    width: auto;
    height: auto;
    margin-top: 10px;
  }
  .page3 header .right {
    flex-direction: row;
    justify-content: center;
  }
  .page3 footer{
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .page3 footer ul{
    flex-direction: column;
    justify-content: center;
  }
  .page4{
    width: 385px;
    height: auto;
    flex-direction: column;
    margin-top: 30px;
  }
  .page4 .text{
    width: 100%;
    height: auto;
    margin-top: 0;
    text-align: center;
  }
  .page4 img{
    margin-top: 30px;
  }
  .page5{
    width: 385px;
    height: auto;
    margin-top: 50px;
  }
  .page5 .top{
    margin-top: 20px;
  }
  .page5 p.main-text{
    width: 100%;
    height: auto;
  }
  .page5 p.main-text{
    font-size: 34px;
    line-height: normal;
  }
  .page5 .main-content{
    flex-direction: column;
  }
  .page5 .main-content .left{
    margin-left: 0;
    width: 100%;
  }
  .page5 .left .text{
    width: 385px;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;
  }
  .page5 .main-content .left .text h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}
  .page5 .main-content .text .spisok div{
    width: 100%;
    height: auto;
  }
  .page5 .main-content .text .spisok .third{
    width: 100%;
    height: auto;
  }
  .page5 .main-content .right {
    background-image: url(images/Rectangle2.png);
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .page5 .main-content .right .text {
    margin-left: 10px;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  .page5 .main-content .right .logo-text {
    margin-bottom: 10px;
    justify-content: center;
  }
  .page6{
    width: 385px;
    height: auto;
    flex-direction: column;
  }
  .food{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .page6 .text{
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 30px;
  }
  .page6 .text h1{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 0;
  }
  .page6 .text p.orange{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
  }
  .page6 .text p{
    text-align: center;
    font-size: 21px;
    margin-top: 15px;
  }
  .page7{
    flex-direction: column;
    margin-top: 0;
    width: 385px;
    height: auto;
  }
  .page7 .text{
    width: 100%;
    height: auto;
  }
  .page7 .text h1{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 38px;
  }
  .page7 .text h1 span{
    font-size: 38px;
  }
  .page7 .text ul{
    width: 100%;
    height: auto;
    line-height: 38px;
  }
  .page7 .Order{
    display: flex;
    margin-top: 15px;
    margin-left: 90px;
  }
  .page7 img{
    margin-top: 20px;
  }
  .page8{
    width: 385px;
    height: auto;
    margin-top: 50px;
  }
  .page8 .text{
    width: 100%;
    height: auto;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .page8 .text header{
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .page8 .text header p{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .page8 .slider:after,
  .page8 .slider:before{
    display: none;
  }
  .page9{
    width: 385px;
    height: auto;
    margin-top: 50px;
  }
  .page9 img{
    display: none;
  }
  .page9 .text{
    width: 100%;
    height: auto;
    margin: 0;
  }
  .page9 .text h1{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
  }
  .page9 .text p {
    font-size: 23px;
    text-align: justify;
  }
  .page10{
    width: 385px;
    height: auto;
    margin-top: 40px;
  }
  .page10 .text{
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .page10 .text h1{
    width: 100%;
    height: auto;
  }
  .page10 .text p{
    width: 100%;
    height: auto;
  }
  .page10 .text a{
    margin-top: 20px;
  }
  .page10 .videos{
    flex-direction: column;
    height: auto;
    margin-top: 30px;
  }
  .page10 .videos div{
    position: relative;
  }
  .page10 .videos .second{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .page10 .videos img{
    width: 385px;
    height: auto;
  }
  .page10 .videos h1{
    margin-left: 15px;
  }
  .page10 .videos .play {
    top: 207px;
    left: 315px;
  }
  .page11{
    width: 385px;
    height: auto;
  }
  .page11 header{
    height: auto;
    padding-bottom: 50px;
  }
  .page11 header .main-content{
    width: 100%;
    height: auto;
    padding: 0;
  }
  .page11 header .main-content .text{
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .page11 header .main-content .text p{
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .page11 header .main-content .email form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page11 header .main-content .email{
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 30px;
  }
  .page11 header .main-content .email .input-text{
    margin: 0;
    margin-left: 30px;
    height: 50px;
  }
  .page11 header .main-content .email .input-btn{
    margin: 0;
  }
  .page11 header .main-content .email .input-btn{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .page11 footer .text{
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
}
